# Root .dockerignore
**/target/
**/bin/
**/*.jar
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iml
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/docker-compose.yml
**/docker-compose.*.yml
**/.git
**/.gitignore
.DS_Store
*.swp
*.swo
*~